{% extends 'index.html' %}

{%load static %}

{% block content %}

<section  class= "profile-container">
    <div class="container py-12 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-12 col-xl-12 mt-150 mb-150">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #410001; height:200px;">
                <div class=" ml-4 ms-4 mt-5 d-flex flex-column" style="width: 200px;">
                  {% if user.userprofile.profilePicture %}
                  <img src="{{ user.userprofile.profilePicture.url }}"
                  alt="Profile Picture"
                  class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
                  {% else %}
                  <img src="{% static 'img/placeholder.webp' %}"
                  alt="Profile Picture"
                  class="img-fluid img-thumbnail mt-4 mb-2 ml-4"
                  style="width: 150px; z-index: 1">
                  {% endif %}          
              </div>
              <div class="ms-3" style="margin-top: 100px;">
                <h3 style="color:white;">{{ user.first_name }} {{ user.last_name }}</h5>
                <h6 style="color:white;">{{ user.username }}</h6>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-between text-center py-1">
                <div class="align-self-start">
                  <form method="post" enctype="multipart/form-data" id="profile-picture-form" class="d-flex flex-column mt-3">
                    {% csrf_token %}
                    <div class="input-group mb-3 align-items-center">
                      <button type="submit" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Upload Image</button>
                      {{ form.profilePicture }}
                    </div>
                  </form>
                </div>
                <div class="ml-auto d-flex">
                  <div class="px-3">
                    <p class="mb-1 h3">{{ user.userprofile.user.followers.count }}</p>
                    <p class="medium text-muted mb-0">Followers</p>
                  </div>
                  <div class="px-3">
                    <p class="mb-1 h3">{{ user.userprofile.following.count }}</p>
                    <p class="medium text-muted mb-0">Following</p>
                  </div>
                  <div class="px-3">
                    <p class="mb-1 h3">{{ user.recipe_set.count }}</p>
                    <p class="medium text-muted mb-0">Shared Recipes</p>
                  </div>
                </div>
              </div>              
            </div>    
            <div class="card-body p-4 text-black">
              <div class="d-flex justify-content-between align-items-center mb-4">
                  <p class="lead fw-normal mb-0">Recent Recipes</p>
              </div>
              <div class="row g-2">
                  {% for recipe in recipes %}
                  <div class="col-lg-4 col-md-6">
                    <div class="single-latest-news">
                        <a href="" "">
                            <div class="latest-news-bg" style="background-image: url('{{ recipe.image.url }}');"></div>
                        </a>
                        <div class="news-text-box">
                            <h3><a href="" "">{{ recipe.name }}</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> {{ recipe.user.username }}</span>
                                <span class="date"><i class="fas fa-calendar"></i> {{ recipe.createdAt }}</span>
                            </p>
                            <p class="excerpt">{{ recipe.description }}</p>
                            <a href="" "" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                  {% endfor %}
              </div>
          </div>          
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.getElementById('id_profile_picture').addEventListener('change', function() {
      document.getElementById('profile-picture-form').submit();
      document.getElementById("{{ widget.attrs.id }}_clear_id").style.display = "none";
    });
  </script>

{% endblock %}