{% extends "index.html" %}
{% load static %}
{% block content %}
<section class="min-vh-100 d-flex align-items-center pt-150 pb-5" style="background-color: var(--website-background);">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  {% if page == 'create' %}
                  <p class="text-center h1 fw-bold mb-1 mx-1 mx-md-4 mt-4">Create a new recipe</p>
                  <p class="text-center h6 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="color: var(--website-touches);">Share you delicious recipes with the world!</p>
                  {% else %}
                  <p class="text-center h1 fw-bold mb-1 mx-1 mx-md-4 mt-4">Update your recipe</p>
                  <p class="text-center h6 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="color: var(--website-touches);">Edit your recipe fields</p>
                  {% endif %}
                  
  
                  <form class="mx-1 mx-md-4" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg btn-danger" style="background-color: var(--website-accents)">Save</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="{% static 'img/create.png' %}" class="img-fluid d-none d-md-block" alt="" style = "height: 600px;">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
